language: go

go:
    - '1.9'
    - '1.10'
    - 'tip'

env:
  - DEP_VERSION="0.4.1"

before_install:
  - curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep

install:
    - dep ensure
    - make install-tools
    - go get -t -u ./...

script:
    - make ci-check
    - goveralls -coverprofile=coverage-all.out

after_success:
  - bash <(curl -s https://codecov.io/bash)
